.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/img/immagine\ Selfie\ 3.jpg"); /* immagine in public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}