/* TIME MACHINE */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}


.modal-box {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  text-align: center;
}


.modal-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.modal-fields label {
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 15px;
}

.btn-green {
  background: #28a745;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-red {
  background: #dc3545;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-gray {
  background: #6c757d;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
